In [4]:
import pandas as pd

Where all the read files should be stored : - (:P current working directory)

In [5]:
pwd

'C:\\Users\\ImSahil\\OneDrive\\Desktop\\Learn_Python'

#### Reading from csv File

In [6]:
pd.read_csv('example')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

To know all types of file from which you can read the data, type pd.read_ and then press tab, the jupyter notebook will show the list of all methods, so basically you will know all the readable files

In [8]:
df = pd.read_csv('example')

In [9]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

#### Writing dataframe to csv file

In [10]:
df.to_csv('MyOutput')

But executing above line will also write index in the csv file, which commonly is not required as again reading the file will look like :

In [12]:
pd.read_csv('MyOutput')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

To avoid such thing, we have to do as follows:

In [13]:
df.to_csv('MyOutput',index=False)

In [14]:
pd.read_csv('MyOutput')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Reading & Writing from Excel Files 
To read from excel, we also have to prove sheet_name parameter, if integer 0 for sheet1 and so on, else you can anyways provide string as sheetname

In [20]:
pd.read_excel('Excel_Sample.xlsx',sheet_name="Sheet1")

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [21]:
df.to_excel('MyExcel.xlsx',sheet_name="Sahil's Sheet")

<h4 style="color:red"> Reading and Writing SQL and HTML is easy, and most of times its not required so I'm Skipping that part</h4>